// Color variables
blue = #0facf3
whiteSmoke = #f9f9f8
lightGrey = #d6d0c4
grey = #91897e
darkGrey = #282623

// Media queries
tablet = 'screen and (min-width: 48 rem)'
desktop = 'screen and (min-width : 75rem)'
// Example of use: @media tablet

//////////////////////////////////////////
// Import all stylus files here (.styl) //
//////////////////////////////////////////

// Reset style
@import reset
// Search bar style
@import SearchBar
// Contries list style
@import NavigationBar
// Contries list style
@import CountriesList
// To be continued...

// App style
body
  color blue
  font-family 'arial', sans-serif
.app
  height 100vh
.app__header
  display flex
  flex-direction column
.app__body
  height calc(100% + -120px)
  overflow-y auto
  overflow-x auto
  background-color white

.app__title
  font-size 30px
  font-weight normal
  margin 8px 10px
  i
    font-size 30px
    position relative
    top 4px
.app__headerSection
  display flex
  flex-direction row
  align-items center
  justify-content space-between
.app__refresh
  display flex
  align-items center
  justify-content center
  height 40px
  margin 10px
  font-weight bold
  text-transform uppercase
  cursor pointer
.app__refreshText
  display none
  @media tablet
    display flex
.app__refreshIcon
  display flex
  align-items center
  justify-content center
  width 40px
  height 40px
  margin-left 10px
  color white
  background-color blue
  border-radius 5px