// Color variables
blue = #0facf3
lightGrey = #d6d0c4
grey = #91897e
darkGrey = #282623

//////////////////////////////////////////
// Import all stylus files here (.styl) //
//////////////////////////////////////////

// Reset style
@import reset
// Search bar style
@import SearchBar
// Contries list style
@import CountriesList
// To be continued...

// App style
body
  color blue
  font-family 'arial', sans-serif
.app
  height 100vh
.app__header
  display flex
  flex-direction column
.app__title
  font-size 30px
  font-weight normal
  margin 8px 10px
  i
    font-size 30px
    position relative
    top 4px
.app__headerSection
  display flex
  flex-direction row
  align-items center
  justify-content space-between
.app__refresh
  display flex
  align-items center
  justify-content center
  width 40px
  height 40px
  margin 10px
  color white
  background-color blue
  border-radius 5px
  cursor pointer