.countriesList_content
  display flex
  padding 10px
.country
  margin 0px 10px
  display grid
  grid-template-rows repeat(8, 1fr)
  min-width 300px
  width 300px
  padding 0px
  background-color whiteSmoke
  border-radius 5px
  overflow hidden

.country__title
  display flex
  align-items center
  justify-content center
  text-align center
  text-transform uppercase
  font-size 20px
  font-weight bold
  padding 10px
  background-color blue
  color white
.country__detail
  display flex
  flex-direction column
  justify-content center
  align-items center
  text-align center
  padding 10px
  color: grey
  border-top 1px solid lightGray
.country__flag
    width 60px
    height 38px
    background-position center
    border-radius 5px
.latlng
  flex-direction row
  align-items center
  justify-content space-evenly
.country__detailTitle
  color: blue
  text-transform uppercase
  font-weight bold
  margin 5px 0
