.searchBar
  display flex
  flex-direction column
  margin 10px
  border-radius 5px
  overflow hidden
  &.focus
    box-shadow 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.12)
.searchBar__input
  display flex
  align-items center
  background-color white
  input
    flex 1
    height 40px 
    padding 0px 10px
    border none
    border-bottom 1px solid blue
.searchBar__counter
  display flex
  height 40px
  align-items center
  justify-content center
  padding-right 10px
  border-bottom 1px solid blue
  span
    font-weight bold
  .searchBar__counterFull
    display flex
    align-items center
    justify-content center
    width 20px
    height 20px
    margin 4px
    border-radius 100%
    background-color blue
    color white
.searchBarList__item>input[type=checkbox]
  display none
.searchBarList
  background-color white
.searchBarList__item
  display flex
  align-items center
  justify-content space-between
  min-height 40px
  padding 10px
  cursor pointer
  &:hover
    background-color rgba(grey, 0.1)
  &.disabled
    color lightGrey
    cursor auto
    background-color white
.searchBar__background 
  width 100vw
  height 100vh
  position absolute
  top 0
  left 0
  background rgba(grey, 0.05)
  z-index -999